<div>
	 <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="masterCtrl.toggleSidenav('left')" hide-gt-md class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>OSC</h1>
        <div flex="20" class="right-nav">
            <md-button ng-click="masterCtrl.logout()">Log Out</md-button>
        </div>
      </div>
    </md-toolbar>
    
    <server-list></server-list>
</div>